world/
stats/
screenshots/
saves/
resourcepacks/
mods/
mods_old/
gradle/
eclipse/
crash-reports/
config/*
build/
bin/
.settings/
.gradle/
logs/
output-client.log
output-server.log
gradlew
asm/
assets/

build.gradle


/*.txt
/*.bat
/*.LCK
/*.1
/*.2
.project
/*.log